<table class="table table-condensed table-bordered">
    <thead>
        <tr class="warning">
            <th>#</th>
            <th>Product Description</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.cart %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.product }}</td>
            <td>{{ item.qtty }}</td>
            <td>
            {# Arepa Type #}
            {% if item.product.allow_type == True %}
            <span class="label label-warning arepa-label">{{ item.type }} Arepa</span> / 
            {% endif %}

            {# Main Ingredients #}
            {% if item.product.allow_extras == True %}
            <b>Main Ingredient(s):</b>
            {% for extras in item.extras %}
            {{ extras.description }}{% if forloop.last %}/ {% else %}, {% endif %}
            {% empty %}No Players Allowed /
            {% endfor %}
            {% endif %}

            {# Additionals Ingredients #}
            {% if item.product.allow_additionals == True %}
            <b>Additionals Ingredient(s):</b>
            {% for additional in item.additionals %}
            {{ additional.description }}{% if forloop.last %}/ {% else %}, {% endif %}
            {% empty %}<span class="label label-danger arepa-label">No Additionals Players</span>/
            {% endfor %}
            {% endif %}

            {# Vegetables #}
            {% if item.product.allow_vegetables == True %}
            <b>Vegetables:</b>
            {% for vegetable in item.vegetables %}
            {{ vegetable.description }}{% if forloop.last %}/ {% else %}, {% endif %}
            {% empty %}<span class="label label-danger arepa-label">No Vegetables</span>/
            {% endfor %}
            {% endif %}

            {# Paid Extras #}
            {% if item.product.allow_paid_extras == True %}
            <b>Extras:</b>
            {% for paid in item.paid_extras %}
            {{ paid.description }}{% if forloop.last %}/ {% else %}, {% endif %}
            {% empty %}<span class="label label-danger arepa-label">No Extras</span>/
            {% endfor %}
            {% endif %}

            {# Sauces #}
            {% if item.product.allow_sauces == True %}
            <b>Sauces:</b>
            {% for sauce in item.sauces %}
            {{ sauce.description }}{% if forloop.last %}/ {% else %}, {% endif %}
            {% empty %}<span class="label label-danger arepa-label">No Sauces</span>/
            {% endfor %}
            {% endif %}

            {# Soft Drink #}
            {% if item.product.allow_drinks == True %}
            <b>Drink:</b>
            {{ item.drink.name }} ({{ item.drink.description }})
            {% endif %}

            </td>
            <td>${{ item.unit_price }}</td>
            <td>${{ item.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>