{% extends 'website/wizard/step1.html' %}
{% block right-side %}
{% load static %}
<div class="panel panel-success" id="instructions-bullpen">
    <div class="panel-heading">
        <h4>Your Order Details</h4> 
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5><b>Client:</b> {{ user.first_name }} {{ user.last_name }}</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Order Number:</li>
                    <li class="list-group-item">{{ order_number }}</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Date:</li>
                    <li class="list-group-item">{% now "F jS Y" %}</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Type of Sale:</li>
                    <li class="list-group-item">{{ data_client.label_for_type_of_sale }}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {% if data_client.type_of_sale == 'D' %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Address:</li>
                    <li class="list-group-item">{{ data_client.address }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Address Line 2:</li>
                    <li class="list-group-item">{{ data_client.address2 }}</li>
                </ul>
            </div>
                {% endif %}
                {% if data_client.type_of_sale == 'P' %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Location:</li>
                    <li class="list-group-item">{{ data_client.location_desc }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Time:</li>
                    <li class="list-group-item">{{ data_client.time }} min</li>
                </ul>
            </div>
                {% endif %}
                {% if data_client.type_of_sale == 'PL' %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Location:</li>
                    <li class="list-group-item">{{ data_client.location_desc }}</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning">Car Description::</li>
                    <li class="list-group-item">
                        {{ data_client.car_color}}, {{ data_client.car_brand}}, {{ data_client.car_model}}, {{ data_client.car_license}}
                    </li>
                </ul>
            </div>
                {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-condensed">
                    <thead>
                        <tr class="warning">
                            <th>#</th>
                            <th>Product Description</th>
                            <th>Code</th>
                            <th>Quantity</th>
                            <th width="40%">Description</th>
                            <th>Unit Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart.cart %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.product }}</td>
                            <td>{{ item.product.code }}</td>
                            <td>{{ item.qtty }}</td>
                            <td>
                            {# Main Ingredients #}
                            {% if item.product.allow_extras == True %}
                            <b>Main Ingredient(s):</b>
                            {% for extras in item.extras %}
                            {{ extras }}{% if forloop.last %}/ {% else %}, {% endif %}
                            {% empty %}No Players Allowed /
                            {% endfor %}
                            {% endif %}

                            {# Vegetables #}
                            {% if item.product.allow_vegetables == True %}
                            <b>Vegetables:</b>
                            {% for vegetable in item.vegetables %}
                            {{ vegetable }}{% if forloop.last %}/ {% else %}, {% endif %}
                            {% empty %}<span class="label label-danger">No Vegetables</span>/
                            {% endfor %}
                            {% endif %}

                            {# Paid Extras #}
                            {% if item.product.allow_paid_extras == True %}
                            <b>Extras:</b>
                            {% for paid in item.paid_extras %}
                            {{ paid }}{% if forloop.last %}/ {% else %}, {% endif %}
                            {% empty %}<span class="label label-danger">No Extras</span>/
                            {% endfor %}
                            {% endif %}

                            {# Sauces #}
                            {% if item.product.allow_sauces == True %}
                            <b>Sauces:</b>
                            {% for sauce in item.sauces %}
                            {{ sauce }}{% if forloop.last %}/ {% else %}, {% endif %}
                            {% empty %}<span class="label label-danger">No Sauces</span>/
                            {% endfor %}
                            {% endif %}

                            {# Soft Drink #}
                            {% if item.product.allow_drinks == True %}
                            <b>Drink:</b>
                            {{ item.soft_drinks }}
                            {% endif %}

                            </td>
                            <td>${{ item.product.price }}</td>
                            <td>${{ item.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>                                
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="lead">Cards Accepted:</p>
                <img src="{% static 'website/v2/images/visa.png' %}" alt="Visa">
                <img src="{% static 'website/v2/images/mastercard.png' %}" alt="Mastercard">
                <img src="{% static 'website/v2/images/american-express.png' %}" alt="American Express">
            </div>
        </div>

        <form class="form-horizontal form-label-left input_mask" method="post">
        {% csrf_token %}

        <div class="row">
            {% if FailTrx %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-control-static">
                    <div class="alert alert-danger">{{FailTrx}}
                        <ul class="list-group">
                        {% for e in FailMsj %}
                            <li class="list-group-item list-gorup-item-danger">
                                {{ e.code }} - {{ e.description }}
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="row">
            {% for field in pay_form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            {% for field in pay_form %}
            {% if not field.is_hidden %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <label class="control-label">{{field.label}}</label>
                {{field}}
                <div class="clearfix"></div>
                <span class="fa fa-info-circle"> {{field.help_text}}</span>
                <div class="clearfix"></div>
                {% if field.errors %}
                <ul class="list-group">
                    {% for msj in field.errors %}
                    <li class="list-group">
                        <span class="label label-danger">{{ msj }}</span>    
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endblock %}