{% extends 'website/wizard/step1.html' %}
{% block right-side %}
<div class="panel panel-success" id="instructions-bullpen">
	<div class="panel-heading">
		<h4><i class="fa fa-info-circle"></i> Instructions</h4>	
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<h2><kbd>Step 3:</kbd> How do you want your Meal?</h2>
				<p>Please select the ingredients for your product</p>
				<blockquote class="agencia-regular">{{ product.description }}</blockquote>	
			</div>
			{% if restrictions %}
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="alert alert-warning">
					This item is only available at:
					<ul class="list-group">
					{% for restriction in restrictions %}
						<li class="list-group-item list-group-item-warning">
							{{ restriction.location }} <small>({{ restriction.location.location }})</small>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
		{% if product.image %}
		<hr>
		<img src="/media/{{ product.image }}" style="width:200px;">
		<hr>
		{% endif %}
		<form id="product-form{{product.id}}" method="post" action="">
		{% csrf_token %}
			<input id="id_id_for_product" name="id_for_product" type="hidden" value="{{ product.id}}" />
			{# Si el producto permite la seleccion de Type (Solo Para Arepas) #}
			{% if product.allow_type == True %}
				{% include 'website/wizard/step3_type.html' %}
			{% endif %}

			{# Si el producto permite la seleccion Extras (Players) #}
	        {% if product.allow_extras ==  True %}
        		{% include 'website/wizard/step3_players.html' %}
        	{% endif %}
		
	        {# Si el producto permite la seleccion de Vegetales #}
	        {% if product.allow_vegetables == True %}
	        	{% include 'website/wizard/step3_vegetables.html' %}
	        {% endif %}

	        {# Si el producto permite la seleccion de Paid Extras #}
	        {% if product.allow_paid_extras ==  True %}
	        	{% include 'website/wizard/step3_extras.html' %}
	        {% endif %}

	        {# Si el producto permite la seleccion de Salsas #}
	        {% if product.allow_sauces ==  True %}
	        	{% include 'website/wizard/step3_sauces.html' %}
	        {% endif %}

	        {# Si el producto permite la seleccion de Bebidas #}
	        {% if product.allow_drinks ==  True %}
	        	{% include 'website/wizard/step3_drinks.html' %}
	        {% endif %}

	        {# Si el producto acepta cantidades #}
	        {% if product.allow_qtty ==  True %}
	        	{% include 'website/wizard/step3_qtty.html' %}
	        {% endif %}
	        <hr>
	        <div class="pull-right">
                <button type="submit" form="product-form{{product.id}}" class="btn btn-primary btn-lg">
                	<i class="fa fa-shopping-cart"></i> Add to Cart
                </button>
            </div>
	    </form>
	</div>
</div>
{% endblock %}
{% block FooterDeclaration %}
<script type="text/javascript">
$(document).ready(function(){
	$('.vgch').on('ifChecked', function(event){
  		$('.vegetables-btn').addClass('disabled');
	});
	$('.vgch').on('ifUnchecked', function(event){
		$('.vegetables-btn').removeClass('disabled');
	});
	$('.sach').on('ifChecked', function(event){
  		$('.sauces-btn').addClass('disabled');
	});
	$('.sach').on('ifUnchecked', function(event){
		$('.sauces-btn').removeClass('disabled');
	});

	$('.extras-id').on('ifChecked', function(event){
  		$('.extras-btn').addClass('disabled');
	});
	$('.extras-id').on('ifUnchecked', function(event){
		$('.extras-btn').removeClass('disabled');
	});
})
</script>
{% endblock %}