<div class="form-group">
    <div class="row green-back">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Do you want sour cream (Natilla) with your item?</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>
                <label for="{{ form.SourCream.id_for_label }}" id="{{ form.SourCream.id_for_label }}">{{ form.SourCream }} {{ form.SourCream.label }}</label>                
            </h2>
        </div>
    </div>
</div>