<div class="form-group">
    <div class="row green-back">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Do you want extras with your item?<br>
            <small>You can choose as much as {{ product.max_paid_extras }} extras for your item</small></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>
                <label for="{{ form.NoExtrasCheck.id_for_label }}" id="{{ form.NoExtrasCheck.id_for_label }}">{{ form.NoExtrasCheck }} {{ form.NoExtrasCheck.label }}</label>
            </h2>
        </div>
    </div>
    <div class="form-inline">
        <div class="extras-list">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>{{ form.paid_extras.help_text }}</h2>
        </div>
    {% for field in form.paid_extras %}
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            {{ field }}
        </div>
    {% endfor %}
        </div>
        <div class="form-group has-error">
        {% if form.paid_extras.errors %}
            {% for error in form.paid_extras.errors %}
            <span class="label label-danger">{{ error }}</span>
            {% endfor %}                                        
        {% endif %}
        </div>
    </div>
</div>