{% extends 'website/wizard/step1.html' %}
{% block right-side %}
<div class="panel panel-success" id="instructions-bullpen">
	<div class="panel-heading">
		<h4><i class="fa fa-info-circle"></i> Instructions</h4>	
	</div>
	<div class="panel-body">
		<h2 class="agencia-regular"><kbd>Step 3:</kbd> How do you want your Meal?</h2>
		<p class="agencia-regular">Please select the ingredients for your product</p>
		<blockquote class="agencia-regular">{{ product.description }}</blockquote>
		{% if not wizard == False %}			
			<form id="myWizard" type="get" action="" class="form-horizontal">
			{% csrf_token %}
				<input id="id_id_for_product" name="id_for_product" type="hidden" value="{{ product.id}}" />

				{% for step in wizard %}
			    {# Si el producto permite la seleccion de Type (Solo Para Arepas) #}
				{% if product.allow_type == True and step.type == True %}
					{% include 'website/wizard/step3_type.html' %}
				{% endif %}

				{# Si el producto permite la seleccion de Vegetales #}
		        {% if product.allow_vegetables == True and step.vegetables == True %}
		        	{% include 'website/wizard/step3_vegetables.html' %}
		        {% endif %}

		        {# Si el producto permite la seleccion Extras (Players) #}
		        {% if product.allow_extras ==  True and step.players == True %}
	        		{% include 'website/wizard/step3_players.html' %}
	        	{% endif %}

		        {# Si el producto permite la seleccion de Paid Extras #}
		        {% if product.allow_paid_extras ==  True and step.extras == True %}
		        	{% include 'website/wizard/step3_extras.html' %}
		        {% endif %}

		        {# Si el producto permite la seleccion de Salsas #}
		        {% if product.allow_sauces ==  True and step.sauces == True %}
		        	{% include 'website/wizard/step3_sauces.html' %}
		        {% endif %}

		        {# Si el producto permite la seleccion de Bebidas #}
		        {% if product.allow_drinks ==  True and step.drinks == True %}
		        	{% include 'website/wizard/step3_drinks.html' %}
		        {% endif %}

		        {# Si el producto acepta cantidades #}
		        {% if product.allow_qtty ==  True and step.qtty == True %}
		        	{% include 'website/wizard/step3_qtty.html' %}
		        {% endif %}
		        
			    {% endfor %}
			</form>
		{% else %}
			<form id="product-form{{product.id}}" method="post" action="">
			{% csrf_token %}
				<input id="id_id_for_product" name="id_for_product" type="hidden" value="{{ product.id}}" />
				{# Si el producto permite la seleccion de Type (Solo Para Arepas) #}
				{% if product.allow_type == True %}
					{% include 'website/wizard/step3_type.html' %}
				{% endif %}
			
		        {# Si el producto permite la seleccion de Vegetales #}
		        {% if product.allow_vegetables == True %}
		        	{% include 'website/wizard/step3_vegetables.html' %}
		        {% endif %}

		        {# Si el producto permite la seleccion Extras (Players) #}
		        {% if product.allow_extras ==  True %}
	        		{% include 'website/wizard/step3_players.html' %}
	        	{% endif %}

		        {# Si el producto permite la seleccion de Paid Extras #}
		        {% if product.allow_paid_extras ==  True %}
		        	{% include 'website/wizard/step3_extras.html' %}
		        {% endif %}

		        {# Si el producto permite la seleccion de Salsas #}
		        {% if product.allow_sauces ==  True %}
		        	{% include 'website/wizard/step3_sauces.html' %}
		        {% endif %}

		        {# Si el producto permite la seleccion de Bebidas #}
		        {% if product.allow_drinks ==  True %}
		        	{% include 'website/wizard/step3_drinks.html' %}
		        {% endif %}

		        {# Si el producto acepta cantidades #}
		        {% if product.allow_qtty ==  True %}
		        	{% include 'website/wizard/step3_qtty.html' %}
		        {% endif %}
		        <div class="">
                    <button type="submit" form="product-form{{product.id}}" class="btn btn-default btn-lg">Add to Cart</button>
                </div>
		    </form>
		{% endif %} {# Si utiliza Wizard #}
		</div>
	</div>
</div>
{% endblock %}

{% block FooterDeclaration %}
{% load staticfiles %}
	<script type="text/javascript" src="{% static 'website/v2/js/wizard/jquery.easyWizard.js' %}"></script>
	<script type="text/javascript">
		$('#myWizard').easyWizard({
			'buttonsClass': 'btn btn-primary',
			'submitButtonClass': 'btn btn-primary',
			'submitButtonText': 'Add to Cart'
		});
	</script>

    <script type="text/javascript" src="{% static 'website/v2/js/wizard/jquery.smartWizard.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Smart Wizard 	
            $('#wizard').smartWizard({
            	transitionEffect: 'slide',
            	labelNext:'Next', // label for Next button
    			labelPrevious:'Previous', // label for Previous button
    			labelFinish:'Add to Cart',  // label for Finish button
    			onLeaveStep:leaveAStepCallback,
        		onFinish:onFinishCallback     
            });
            
            function leaveAStepCallback(obj, context){
        		return validateSteps(context.fromStep); // return false to stay on step and true to continue navigation 
    		}

    		function onFinishCallback(objs, context){
        		if(validateAllSteps()){
            		$('form').submit();
        		}
    		}

    		// Your Step validation logic
    		function validateSteps(stepnumber){
        		var isStepValid = true;
        		// validate step 1
        		{% if product.allow_extras ==  True and step.players == True %}
	        		isStepValid = true
	        	{% endif %}
        		return isStepValid
    		}
    		function validateAllSteps(){
        		var isStepValid = true;
        		// all step validation logic     
        		return isStepValid;
    		}          
        });
    </script>
{% endblock %}
        