<div class="form-group">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Do you want vegetables with your item?</h2>
            <div class="form-group has-error">
            {% if form.vegetables.errors %}
                {% for error in form.vegetables.errors %}
                <span class="label label-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="form-inline">
                <label for="{{ form.NoVegetablesCheck.id_for_label }}">{{ form.NoVegetablesCheck }} {{ form.NoVegetablesCheck.label }}</label>
                <div>
                    <button type="button" data-toggle="modal" data-target=".vegetables-modal" class="btn btn-primary vegetables-btn">Yes, let me Choose</button>
                </div>
                <div id="" class="modal fade vegetables-modal" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{ form.vegetables.help_text }}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                {% for field in form.vegetables %}
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        {{ field }}
                                    </div>
                                {{ field.field }}
                                {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>