{% extends 'website/wizard/step1.html' %}
{% block right-side %}
<div class="panel panel-success" id="instructions-bullpen">
	<div class="panel-heading">
		<h4><i class="fa fa-info-circle"></i> Instructions</h4>	
	</div>
	<div class="panel-body">
		<h2 class="agencia-regular"><kbd>Step 2:</kbd> What kind of product do you want?</h2>
		<p class="agencia-regular">Please select a product below to cutomize</p>
		{% for product in products %}
		<div class="row menu-product">
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
				<a class="plain" href="{% url 'website:MealForm' product.category_id product.id %}">
				<p>
					<span class="agencia-bold">{{ product.name }}</span><br>
					<span class="agencia-regular">{{ product.description }}</span>
				</p>
				</a>
			</div>
			<div class="col-lg-2 col-md-2 hidden-sm hidden-xs agencia-regular">
				$ {{ product.price }}<br>
			</div>
		</div>
    {% endfor %}
	</div>
</div>
{% endblock %}
        