<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
  <title>Bullpen Arepas - The Taste of Home Run</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/css/custom.css' %}">
  <link rel="shortcut icon" href="{% static 'website/img/favicon.png' %}">
</hed>
<body>
    {% block menu %}
        {% include 'website/nav-menu.html' with aboutus="active" %}
    {% endblock menu %}
    
    {% block inner %}
    <div class="clearfix"></div>
    <div class="container" id="menu-section">
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'website/img/aboutus-text.png' %}" class="img-responsive">
                <hr>
            </div>
        </div>
        <div class="row" id="about-us-panel">
            <div class="panel panel-default">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 img-truck">
                    <blockquote>
                        <p>{{ text01.text }}</p>
                        <p>{{ text02.text }}</p>
                        <p>{{ text03.text }}</p>
                    </blockquote>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 img-truck">
                    <img src="{% static 'website/img/truck.jpg' %}" class="img-responsive img-rounded">
                    <hr>
                    <span class="ga"><img src="{% static 'website/img/map-location.png' %}" alt="Map-Location"> Georgia, USA</span>
                </div>
            </div>
        </div>
        <div class="row" id="about-us-panel">
            <div class="panel panel-default">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 img-truck">
                    <blockquote>
                        <p>Always you can find us at the food cort of the Assi Plaza Mall.</p>
                        <p>1630 Pleasent Hill Rd, Duluth GA 300096</p> 
                    </blockquote>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 img-truck">
                    <iframe width="100%" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ1U4RRhWj9YgR6r_BQ71ykbw&key=AIzaSyDP6kgI98A7QW3vc2HR3l-BWHnr0lUbMH4" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% include 'website/footer.html' %}

    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
</body>
</html>