{% extends 'website/template.html' %}
{% block WindowTittle %}Menu{% endblock %}
{% block Content %}
{% load staticfiles %}
{% load widget_tweaks %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ product.category }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="product-image">
                                <img src="/media/{{ product.image }}" alt="{{ product.name }}" />
                            </div>
                            <div class="product_gallery">
                            {% for thumbs in product.relatedimages_set.all %}
                                <a><img src="/media/{{ thumbs.image }}" alt="{{ thumbs.description }}" /></a>
                            {% endfor %}
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">
                            <h1 class="prod_title">{{ product.name }}</h1>
                            <p>{{ product.description }}</p>
                            <hr>
                            <form id="product-form" method="post">
                            {% csrf_token %}
                            {{ form.id_for_product }}

                            {# Si el producto permite la seleccion de Type (Solo Para Arepas) #}
                            {% if product.allow_type == True %}
                            <div class="">
                                <h2>Baked or Fry?</h2>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    {{ form.arepa_type }}
                                </div>
                                {% if form.arepa_type.errors %}
                                <div class="form-group has-error">
                                    <span class="label label-danger">{{ form.arepa_type.errors }}</span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <p>{{ form.arepa_type.help_text }}</p>
                            <hr>
                            {% endif %}

                            {# Si el producto permite la seleccion de Vegetales #}
                            {% if product.allow_vegetables == True %}
                            <div class="">
                                <h2>Vegetables?</h2>
                                <div class="form-inline">
                                {% for field in form.vegetables %}
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        {{ field }}
                                    </div>
                                    {{ field.field }}
                                {% endfor %}
                                    <div class="form-group has-error">
                                    {% if form.vegetables.errors %}
                                        {% for error in form.vegetables.errors %}
                                        <span class="label label-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <p>{{ form.vegetables.help_text }}</p>
                            <hr>
                            {% endif %}

                            {# Si el producto permite la seleccion Extras (Players) #}
                            {% if product.allow_extras ==  True %}
                            <div class="">
                                <h2>Players</h2>
                                <div class="form-inline">
                                {% for field in form.extras %}
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                    <div class="clearfix"></div>
                                    <div class="form-group has-error col-md-6 col-sm-6 col-xs-6">
                                    {% if form.extras.errors %}
                                        {% for error in form.extras.errors %}
                                        <span class="label label-danger">{{ error }}</span>
                                        {% endfor %}                                        
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <p>{{ form.extras.help_text }}</p>
                            <hr>
                            {% endif %}

                            {# Si el producto permite la seleccion de Paid Extras #}
                            {% if product.allow_paid_extras ==  True %}
                            <div class="">
                                <h2>Bench Players</h2>
                                <div class="form-inline">
                                {% for field in form.paid_extras %}
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                    <div class="clearfix"></div>
                                    <div class="form-group has-error col-md-6 col-sm-6 col-xs-6">
                                    {% if form.paid_extras.errors %}
                                        {% for error in form.paid_extras.errors %}
                                        <span class="label label-danger">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <p>{{ form.paid_extras.help_text }}</p>
                            <hr>
                            {% endif %}

                            {# Si el producto permite la seleccion de Salsas #}
                            {% if product.allow_sauces ==  True %}
                            <div class="">
                                <h2>Sauces</h2>
                                <div class="form-inline">
                                {% for field in form.sauces %}
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                {% if form.sauces.errors %}
                                    <div class="form-group has-error">
                                        <span class="label label-danger">{{ form.sauces.errors }}</span>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <p>{{ form.sauces.help_text }}</p>
                            <hr>
                            {% endif %}

                            {# Si el producto permite la seleccion de Bebidas #}
                            {% if product.allow_drinks ==  True %}
                            <div class="">
                                <h2>Soft Drinks</h2>
                                <div class="form-inline">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        {{ form.soft_drinks }}
                                    </div>
                                {% if form.soft_drinks.errors %}
                                    <div class="form-group has-error">
                                        <span class="label label-danger">{{ form.soft_drinks.errors }}</span>
                                    </div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <p>{{ form.soft_drinks.help_text }}</p>
                            <hr>
                            {% endif %}
                            <div class="">
                                <a href="{% url 'website:menu' %}">
                                    <button type="button" class="btn btn-default btn-lg">Back to Menu</button>
                                </a>
                                <button type="submit" class="btn btn-default btn-lg">Add to Cart</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}