<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Bullpen Arepas</title>
      <link href="{% static 'website/css/fullcalendar.css' %}" rel="stylesheet" />
  <link href="{% static 'website/css/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
  <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/animate.min.css' %}" rel="stylesheet"> 
  <link href="{% static 'website/css/lightbox.css' %}" rel="stylesheet"> 
  <link href="{% static 'website/css/main.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/calendar.css' %}" rel="stylesheet">    
  <script type="text/javascript" src="{% static 'website/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/lightbox.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/wow.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/audio.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'website/js/modal.js' %}"></script>
  <script src="{% static 'website/js/moment.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <script src="{% static 'website/js/fullcalendar.min.js' %}"></script>
  <script src="{% static 'website/js/gcal.js' %}"></script> 
  <script type="text/javascript" src="{% static 'website/js/infocalendar.js' %}"></script>    
  <script type="text/javascript">
  	
    audiojs.events.ready(function() {
      var as = audiojs.createAll();
    });
  </script> 
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->       
  <link rel="shortcut icon" href="{% static 'website/img/bullpen.ico' %}">
</head><!--/head-->

<body>
{# Header #}
	<header id="header" class="navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 overflow">
          <div class="social-icons pull-right"></div> 
        </div>
      </div>
    </div>
    <div class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
				</div>
        <div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
            <li>
              <a href="#home-slider" data-toggle="collapse" data-target=".navbar-collapse">Home</a>
            </li>
            <li>
              <a href="#home-slider2" data-toggle="collapse" data-target=".navbar-collapse">On The Game</a>
            </li>
            <li>
              <a href="#info" data-toggle="collapse" data-target=".navbar-collapse">Info</a>
            </li> 
            <li>
              <a href="#calendar" data-toggle="collapse" data-target=".navbar-collapse">Calendar</a>
            </li>
            {% if status %}
            <li>
              <a href="{% url 'website:menu' %}" data-toggle="collapse" data-target=".navbar-collapse">Order Now</a>
            </li>
            {% endif %}
          </ul>
          <p class="navbar-text pull-right">
            <a class="pull-right socialia" href="https://instagram.com/bullpenarepas/" target="_blank"><img src="{% static 'website/img/i2.png' %}" hclass="img-responsive" alt=""></a>   
            <a class="pull-right socialia" href="https://twitter.com/bullpenarepas" target="_blank"><img src="{% static 'website/img/t2.png' %}" class="img-responsive" alt=""></a>
            <a class="pull-right socialia" href="https://www.facebook.com/BullpenArepas/" target="_blank"><img src="{% static 'website/img/f2.png' %}" hclass="img-responsive" alt=""></a>					
          </p>
        </div>
      </div>
		</div>
  </header>
{# Header #}

{# Primer Carrousel #}
  <section id="home-slider">
    <div class="container">
      <div class="row">
        <div class="main-slider">
          <div class="container">
            <div class="row">
              <div class="single-features">
                <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                  <h1>
                    <img src="{% static 'website/img/Logo_mini.png' %}" class="img-responsive" alt="Bullpen Arepas">
                  </h1>
                </div>
                <div class="col-md-5 col-xs-12 col-md-offset-2 wow  bgm_div left fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                  <div class="">
                    <h1 class="center">Bullpen Arepas</h1>
                    <P>{{ home_text }}</P>
                    <audio src="{% static 'website/audio/Bulpen_Jingle_mediana.m4a' %}" preload="auto" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
	</section>
{# Primer Carrousel #}

{# Features #}
  <section id="features">
    <div class="container">
      <div class="row">
          <div class="col-sm-12 col-sx-12 wow" data-wow-duration="500ms" data-wow-delay="300ms">
            </br></br></br></br>
            <h1>The Arepa</h1>
            <P>{{ the_arepa_text }}</P>
          </div>
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              {% for img in WebImages %}
              <div class="item {% if forloop.first %}active{% endif %}">
                <img src="/media/{{ img.image }}" alt="{{ img.alt }}">
              </div>
              {% endfor %}
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </br></br>
          </div>
				</div>
      </div>
    </div>
  </section>
{# Features #}

{# Categorias #}
	<section id="home-slider2">
		<div class="container">
      <div class="row">
        <div class="main-slider2 animate-in">
          <div class="container">
            <div class="row">
              <div class="single-features">
                <div class="col-sm-12 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                  <h1>On The Game</h1>
                  <P>{{ on_the_game_text }}</P>
                  <h2 class="circle"  data-toggle="modal"  data-target="#myModal7">Suggested Plays</h2>
                </div>
							</div>
							<div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
								{% for category in categories %}
                <div class="col-xs-4 col-sm-2" align="center">
                  <a>
                    <img src="/media/{{ category.webImage }}" align="center" class="img-responsive img-circle circle" alt="{{ category.category.name }}" data-toggle="modal" data-target="#{{ category.category.code|cut:"." }}">
                  </a>
                  <h3>
                  {% if category.override_desc == False %}
                    {{ category.category.name }}
                  {% else %}
                    {{ category.description }}
                  {% endif %}
                  </h3>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div> 
    	</div>
		</div>
	</section>
{# Categorias #}

{# Info #}
  <section id="info">
    <div class="container inver-fondo inver-ico">	
  		<div class="row">
      	<div class="single-features">
          <div class="col-xs-12 col-md-6 col-sm-6 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="300ms" id="left-info">
            <h1 class="inverColor">Info</h1>
            <p>{{ info_text }}</p>
            <div class="clients-logo" align="center">
              <div class="col-xs-2 col-sm-2 socialib" align="center" >
                <a href="https://www.facebook.com/BullpenArepas/" target="_blank">
                  <img src="{% static 'website/img/f.png' %}" alt="facebook.com/BullpenArepas/">
                </a>
              </div>
              <div class="col-xs-2 col-sm-2 socialib" align="center" >
                <a href="https://twitter.com/bullpenarepas" target="_blank">
                  <img src="{% static 'website/img/t.png' %}" alt="twitter.com/bullpenarepas">
                </a>
  					  </div>
              <div class="col-xs-2 col-sm-2 socialib" align="center" >
                <a href="https://instagram.com/bullpenarepas/" target="_blank">
                  <img src="{% static 'website/img/i.png' %}" alt="instagram.com/bullpenarepas/">
                </a>
              </div>   
  				  </div>
  				</div>
  				<div class="col-xs-12 col-md-6 col-sm-6 fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms"id="right-info">
            <div class="contact-form bottom">
              <h1 class="inverColor">Send a message</h1>
              {% if success %}
                <span class="label label-success">{{ success_info }}</span>
              {% endif %}
              <form id="main-contact-form" name="contact-form" method="post">
              {% csrf_token %}

              {% for field in WebInfoForm %}
                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                  {{ field }}
                </div>
                {% if field.errors %}
                <div class="clearfix"></div>
                  <div class="form-group has-error col-xs-12 col-md-12 col-sm-12">
                    {% for error in field.errors %}
                    <span class="label label-danger">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
                <div class="form-group">
                  <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
  			</div>
      </div>
	</section>
{# Info #}

{# Calendario #}
  <div class="col-md-offset-2">
    <h1>Calendar / Events</h1>
    <P>{{ calendar_text }}</P>  
  </div>
  <div class="col-md-offset-1" id='loading'>loading...</div>
  <div id='calendar'></div>
{# Calendario #}

  <footer>
    <div class="col-sm-12">
      <div class="copyright-text text-center">
        <p>© Bullpenarepas.com {% now "Y" %}. All Rights Reserved.</p>
      </div>
    </div>
  </footer>

{# Modal For's #}
{% for ModalCategory in categories %}
<div class="modal fade" tabindex="-1" role="dialog" id="{{ ModalCategory.category.code|cut:"." }}" >
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>
          {% if ModalCategory.override_desc == False %}
            {{ ModalCategory.category.name }}
          {% else %}
            {{ ModalCategory.description }}
          {% endif %}
        </h1>
  		</div>
  		<div class="modal-body">
  			<div class="row">
  				{# un Product #}
          {% for product in ModalCategory.webproduct_set.all %}
          <div class="col-md-4 ligtc0">
          	<div class="col-md-6">
              <img src="/media/{{ product.webImage }}" class="img-responsive" alt="{{ product.product.name }}">
          	</div>
            <div class="col-md-6">
              <h2>{{ product.product.name }}</h2>{{ product.product.description }}
              {% if ModalCategory.show_price == True %}
              <h3>$ {{ product.product.price }}</h3>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          {# Fin de un Producto #}
    		</div>
  		</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  	</div>
  </div>
</div>

{% endfor %}
</body>
</html>
