{% extends 'website/template.html' %}
{% block WindowTittle %}Menu{% endblock %}
{% block Content %}
{% load staticfiles %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Your Order Details</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    <a href="{% url 'website:menu' %}">
                        <button type="button" class="btn btn-warning">Back to Menu</button>
                    </a>
                        <div class="clearfix"></div>
                        <section class="content invoice">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-xs-12 invoice-header">
                                    <h1>
                                        <i class="fa fa-globe"></i> Bullpen Arepas.
                                        <small class="pull-right">{% now "F jS Y" %}</small>
                                    </h1>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="row invoice-info">
                                <div class="col-sm-4 invoice-col">
                                    <b>Type of Sale:</b> {{ data_client.label_for_type_of_sale }}
                                    <br>
                                    <b>Order:</b> {{ order_number }}
                                    <br>
                                    {% if data_client.type_of_sale == 'D' %}
                                        <b>Address:</b> {{ data_client.address }}
                                        <br>
                                    {% endif %}
                                    {% if data_client.type_of_sale == 'P' %}
                                        <b>Location:</b> {{ data_client.location_desc }}
                                        <br>
                                        <b>Time:</b> {{ data_client.time }} min
                                        <br>
                                    {% endif %}
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <!-- Table row -->
                            <div class="row">
                                <div class="col-xs-12 table">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Product</th>
                                                <th>Serial #</th>
                                                <th style="width: 59%">Description</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in cart %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ item.product }}</td>
                                                <td>{{ item.product_code }}</td>
                                                <td>
                                                    <ul>
                                                        <li>{{ item.type }}</li>
                                                        <div class="clearfix"></div>
                                                    {% if not item.extras == 0 %}
                                                        <li>Extras:</li>
                                                        <ul>
                                                    {% for extras in item.extras %}
                                                        <li>{{ extras }}</li>
                                                    {% empty %}
                                                        <li>No Extras</li>
                                                    {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        <li>No Extras</li>
                                                    {% endif %}
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                    <ul>
                                                    {% if not item.paid_extras == 0 %}
                                                        <li>Bench Players:</li>
                                                        <ul>
                                                    {% for paid_extras in item.paid_extras %}
                                                        <li>{{ paid_extras }}</li>
                                                    {% empty %}
                                                        <li>No Paid Extras</li>
                                                    {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        <li>No Bench Players</li>
                                                    {% endif %}
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                    <ul>
                                                    {% if not item.sauces == 0 %}
                                                        <li>Sauces:</li>
                                                        <ul>
                                                    {% for sauces in item.sauces %}
                                                        <li>{{ sauces }}</li>
                                                    {% empty %}
                                                        <li>No Sauces</li>
                                                    {% endfor %}
                                                        </ul>
                                                    {% else %}
                                                        <li>No Sauces</li>
                                                    {% endif %}
                                                    </ul>
                                                    <div class="clearfix"></div>
                                                    <ul>
                                                        <li>{% if item.soft_drinks %}{{ item.soft_drinks }}{% else %}No Drinks{% endif %}</li>
                                                    </ul>
                                                </td>
                                                <td>${{ item.price }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        <div class="row">
                                <div class="col-xs-7">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th style="width:50%">Subtotal:</th>
                                                    <td>${{ amounts.subtotal }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Tax ({{ tax }}%)</th>
                                                    <td>${{ amounts.tax|floatformat:"2" }}</td>
                                                </tr>
                                                {% if data_client.type_of_sale == 'D' %}
                                                <tr>
                                                    <th>Delivery:</th>
                                                    <td>${{ amounts.delivery }}</td>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <th>Total:</th>
                                                    <td>${{ amounts.total|floatformat:"2" }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- accepted payments column -->
                                <div class="col-xs-6">
                                    <p class="lead">Payment Methods:</p>
                                    <img src="{% static 'website/v2/images/visa.png' %}" alt="Visa">
                                    <img src="{% static 'website/v2/images/mastercard.png' %}" alt="Mastercard">
                                    <img src="{% static 'website/v2/images/american-express.png' %}" alt="American Express">
                                    <form class="form-vertical form-label-left input_mask" method="post">
                                        {% if FailTrx %}
                                            <div class="form-control-static">
                                                <div class="alert alert-danger">{{FailTrx}}
                                                    <ul>
                                                    {% for e in FailMsj %}
                                                        <li>{{ e.code }} - {{ e.description }}</li>
                                                    {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% csrf_token %}
                                        {% for field in pay_form %}
                                            {% if field.is_hidden %}
                                                {{ field }}
                                            {% endif %}
                                        {% endfor %}
                                        {% for field in pay_form %}
                                            {% if not field.is_hidden %}
                                            <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                                <label class="control-label col-md-6 col-sm-6 col-xs-12">{{ field.label }}</label>
                                                {{ field }}
                                                <p><span class="fa fa-info-circle"> {{field.help_text}}</span></p>
                                                {% if field.errors %}
                                                <div class="alert">
                                                {% for msj in field.errors %}
                                                    {{ msj }}
                                                {% endfor %}
                                                </div>
                                                {% endif %}
                                            </div>
                                            <br>
                                            {% endif %}
                                        {% endfor %}
                                        
                                    
                                </div>
                                <!-- /.col -->
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
                                </div>
                                </form>
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}