{% extends 'website/template.html' %}
{% block WindowTittle %}Menu{% endblock %}
{% block Content %}
{% load staticfiles %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{product.name}} <small>{{product.description}}</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <a href="{% url 'website:menu' %}">
                            <button type="button" class="btn btn-warning">Back to Menu</button>
                        </a>
                        <div class="clearfix"></div>
                        <!-- Tabs -->
                        <form method="post" id="arepa_form" action="">
                        {% csrf_token %}
                        {{ form.id_for_product }}
                        <div id="wizard" class="form_wizard wizard_horizontal">
                            <ul class="list-unstyled wizard_steps">
                                <li>
                                    <a href="#step-11">
                                        <span class="step_no">1</span>
                                        <span class="step_descr">Step 1<br /> 
                                        <small>Kids Meal - Description</small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-22">
                                        <span class="step_no">2</span>
                                        <span class="step_descr">Step 2<br /> 
                                        <small>Do you want some drinks with your Meal?</small></span>
                                    </a>
                                </li>
                            </ul>
                            <div id="step-11">
                                <span class="section">{{product.description}}</span>
                            </div>
                            <div id="step-22">
                                <span class="section">Just $1.00</span>
                                <div class="form-group">
                                {% for field in form.soft_drinks %}
                                    <label>{{ field.label }}</label>
                                    <div class="col-md-3 col-sm-3">
                                        {{ field }}
                                    </div>
                                    {% if form.soft_drinks.errors %}
                                    <div class="form-group has-error">
                                    {% for error in form.soft_drinks.errors %}
                                        <p class="control-label">{{ error }}</p>
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        </form>
                        <!-- End SmartWizard Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}      
{% block FooterDeclarations %}
    <script type="text/javascript" src="{% static 'website/v2/js/wizard/jquery.smartWizard.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Smart Wizard	
            $('#wizard').smartWizard({
                transitionEffect: 'fade',
                labelFinish: 'Add to Cart',
                onFinish: onFinishCallback
            });

            function onFinishCallback(objs, context){
                $('#arepa_form').submit();
            }
        });
    </script>
{% endblock %}