<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bullpen Arepas</title>

    <!-- Bootstrap core CSS -->

    {% load staticfiles %}
    <link href="{% static 'website/v2/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'website/v2/fonts/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/v2/css/animate.min.css' %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static 'website/v2/css/custom.css' %}" rel="stylesheet">

    <script src="{% static 'website/v2/js/jquery.min.js' %}"></script>

    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link rel="shortcut icon" href="{% static 'website/img/bullpen.ico' %}">
</head>

<body style="background:#F7F7F7;">
    
    <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        
        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <form method="post" id="form-login" action="">
                    {% csrf_token %}
                        <h1>Login Form</h1>
                        <div>
                            <input type="text" name="username" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" name="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div>
                            <button class="btn btn-default submit">Log in</button>
                        </div>
                    </form> <!-- form -->
                    <div class="clearfix"></div>
                    <div class="separator">
                        <p class="change_link">New to site?
                            <a href="#toregister" class="to_register"> Create Account </a>
                        </p>
                        <div class="clearfix"></div>
                        <br />
                        <p class="change_link">One Time User?
                            <a href="{% url 'website:guest-login' %}" class="to_register"> Login as a Guest </a>
                        </p>
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <h1>Bullpen Arepas</h1>
                            <p>©2015 All Rights Reserved. Bullpen Arepas</p>
                        </div>
                    </div>
                    
                    
                </section>
                <!-- content -->
            </div>
            <div id="register" class="animate form">
                <section class="login_content">
                    <form method="post" id="form-newAct" action="{% url 'website:new_account' %}">
                    {% csrf_token %}
                        <h1>Create Account</h1>
                        {% for field in new_user %}
                        <div>
                            {{ field }}
                        </div>
                        {% if field.errors %}
                        <div>
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div>
                            <button class="btn btn-default submit" href="">Create Account</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">Already a member ?
                                <a href="#tologin" class="to_register"> Log in </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1>Bullpen Arepas</h1>

                                <p>©2015 All Rights Reserved. Bullpen Arepas</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
        </div>
    </div>

</body>

</html>