<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bullpen Arepas</title>
    
    {% load staticfiles %}
    <link href="{% static 'website/css/fullcalendar.css' %}" rel="stylesheet" />
    <link href="{% static 'website/css/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/animate.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'website/css/lightbox.css' %}" rel="stylesheet"> 
    <link href="{% static 'website/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/calendar.css' %}" rel="stylesheet">    
    <script type="text/javascript" src="{% static 'website/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/audio.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/modal.js' %}"></script>
    <script src="{% static 'website/js/moment.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'website/js/gcal.js' %}"></script> 
    <script type="text/javascript" src="{% static 'website/js/infocalendar.js' %}"></script>    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'img/bullpen.ico' %}">

<body>
	<header id="header" class="navbar-inverse navbar-fixed-top" role="navigation">      
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                    </div> 
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
				</div>
                <div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
                    	<li>
                        	<a href="{% url 'website:index' %}" data-toggle="collapse" data-target=".navbar-collapse">Home</a>
                        </li>
                    	<li>
                        	<a href="#home-slider2" data-toggle="collapse" data-target=".navbar-collapse">On The Game</a>
                        </li>
                    	<li>
                        	<a href="#info" aria-expanded="false" data-toggle="collapse" data-target=".navbar-collapse">Info</a>
                        </li> 
                    	<li>
                        <a href="#info2" data-toggle="collapse" data-target=".navbar-collapse">Calendar</a></li>
                	</ul>
                	<p class="navbar-text pull-right">
                    	<a class="pull-right socialia" href="https://instagram.com/bullpenarepas/" target="_blank"><img src="{% static 'website/img/i2.png' %}" hclass="img-responsive" alt=""></a>   
                        <a class="pull-right socialia" href="https://twitter.com/bullpenarepas" target="_blank"><img src="{% static 'website/img/t2.png' %}" class="img-responsive" alt=""></a>
                        <a class="pull-right socialia" href="https://www.facebook.com/BullpenArepas/" target="_blank"><img src="{% static 'website/img/f2.png' %}" hclass="img-responsive" alt=""></a>					
                    </p>
                </div>
            </div>
		</div>
    </header>
    <!--/#header-->
    <!--/#header-->

    <!--/#action-->

<section id="shortcodes">
	<div class="container">
    	<div id="alert-container">
        	<div class="row">
            	<div class="col-md-12">
                	<div class="circle" data-toggle="modal" data-target="#myModal0">Login</div>
                        <h2 class="page-header">Suggested Plays</h2>
                  	</div>
                    <div class="col-md-5" >
                    	<div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal1">
                        	<h4>Baked or Fried Arepas (Double)</h4>
                          	<p>with 2 choosen players $ 5.90 </p>
                        </div>
                                                <div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal3">
                            <h4>Baked or Fried Arepas (Home Run)</h4>
                            <p>with 4 choosen players $ 7.50 </p>
                        </div>

                  
                     	  </div> 
                                              <div class="col-md-5">
                        <div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal2">
                            <h4>Baked or Fried Arepas (Triple)</h4>
                          <p>with 3 choosen players $ 6.90 </p>
                        </div>
                                                <div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal4">
                            <h4>Fried Arepas (Grand Slam) </h4>
                            <p>with 5 choosen players $ 8.50 </p>
                        </div>


                     	  </div> 
                                                <div class="col-md-2">
                          <h4>mis ordenes</h4>                    
                            <div class="alert  fade in">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>Home Run</h4>   
                                <h5>Pulled Pork +Ham +Cheese<br>$ 7.50</h5>
                                <h5>Subtotal: $ 7.50<br>Envio: $ 1.50<br>Total: $ 9.00</h5>
                                 <button type="button" class="btn btn-default">Procesar pago</button>
                            </div></div> 
                    </div>
                </div>
            </div><!--/#alert-container-->

    <section id="shortcodes">
        <div class="container">
            <div id="alert-container">
                <div class="row">
                    <div class="col-md-10">
                        <h2 class="page-header">On The Game</h2>
                  </div>
                                      <div class="col-md-5" >
                      <div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal5">
                            <h4>Baked or Fried Arepas </h4>
                          <p>&nbsp;</p>
                        </div>
                                                <div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal7">
                            <h4>Sauces</h4>
                            <p>&nbsp;</p>
                        </div>

                  
                     	  </div> 
                                              <div class="col-md-5">
                        <div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal6">
                            <h4>Little League</h4>
                          <p>Kids meal $ 3.99 each</p>
                        </div>
                                                <div class="alert alert-danger fade in circle" data-toggle="modal" data-target="#myModal8">
                            <h4>Soft Drinks</h4>
                            <p>&nbsp;</p>
                        </div>

                  
                     	  </div> 
                </div>
            </div>
       </div></section>

            <div id="testimonial-container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-header">Testimonial</h2>
                        <div class="testimonial">
                            <div class="media">
                                <div class="media-body " >
                                    <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                                    <h3><a href="#">- Jhon Kalis</a></h3>
                                </div>
                                <div class="media-body">
                                    <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                                    <h3><a href="">- Abraham Josef</a></h3>
                                </div>
                                                                <div class="media-body" >
                                    <blockquote>Nisi commodo bresaola, leberkas venison eiusmod bacon occaecat labore tail.</blockquote>
                                    <h3><a href="#">- Jhon Kalis</a></h3>
                                </div>
                          
                                <div class="media-body">
                                    <blockquote>Capicola nisi flank sed minim sunt aliqua rump pancetta leberkas venison eiusmod.</blockquote>
                                    <h3><a href="">- Abraham Josef</a></h3>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div><!--/#testimonial-container-->

        </div>
    </section>           


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="contact-info bottom">
                        <h2>Contacts</h2>
                        <address>
                        E-mail: <a href="mailto:someone@example.com">email@email.com</a> <br> 
                        Phone: +1 (123) 456 7890 <br> 
                        Fax: +1 (123) 456 7891 <br> 
                        </address>

                        <h2>Address</h2>
                        <address>
                        Unit C2, St.Vincent's Trading Est., <br> 
                        Feeder Road, <br> 
                        Bristol, BS2 0UY <br> 
                        United Kingdom <br> 
                        </address>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>© Bullpenarepas.com 2015. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">DOUBLE with 2 players of your choice $ 5.90 </h4>
      </div>
      <div class="modal-body">
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded Meat and Ham
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded  Chicken and Ham
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Pulled Pork and Ham 
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded Meat and Cheese
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded  Chicken and Cheese
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Pulled Pork and Cheese
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Ham and Cheese
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Chicken Salad and Avocado
</label></br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TRIPLE with 3 players of your choice $ 6.90 </h4>
      </div>
      <div class="modal-body">
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded Meat, Ham and Cheese 
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded  Chicken, Ham and Cheese 
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Pulled Pork , Ham and Cheese
</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">HOME RUN with 4 choosen players $ 7.50 </h4>
      </div>
      <div class="modal-body">
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded Meat, Ham, Cheese and Avocado 
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded  Chicken, Ham, Cheese and Avocado 
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Pulled Pork, Ham, Cheese and Avocado
</label></br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">GRAND SLAM with 5 choosen players $ 8.50 </h4>
      </div>
      <div class="modal-body">
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded Meat, Ham, Cheese and Avocado 
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded  Chicken, Ham, Cheese and Avocado 
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Pulled Pork, Ham, Cheese and Avocado
</label></br>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">BAKED OR FRIED AREPAS</h4>
      </div>
      <div class="modal-body">
      	Tipo de arepa
        <select>
          <option value="Seleccione">Seleccione</option>
  <option value="Baked Arepa">Baked Arepa</option>
  <option value="Fried Arepa">Fried Arepa</option>
</select> </br></br>
cantidad de ingredientesa
<select>
     <option value="Seleccione">Seleccione</option>
  <option value="Hit">(1) Hit</option>
  <option value="Double">(2) Double </option>
    <option value="Triple">(3) Triple </option>
  <option value="Home Run">(4) Home Run </option>
    <option value="Home Run Pabellón">(4) Home Run Pabellón</option>
  <option value="Grand Slam">(5) Grand Slam</option>
</select> 

	<div class="stmenu">Ingredientes</div>
		 <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded meat
			</label></br>
        	 <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Shredded chicken
			</label></br>
        	<label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Fresh cheese
			</label></br>
        <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Pulled pork
			</label></br>
        	<label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Fish
			</label></br>
        	<label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">American cheese
			</label>  </br>        
            <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Chicken salad
			</label></br>
         <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Ham
			</label></br>
         <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Black beans
			</label></br>
            <div class="stmenu">On the bench (add as much players as you want for just $ 0.99 each)</div>
            <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Avocado
			</label></br>
         <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Eggs
			</label></br>
         <label class="checkbox-inline">
  				<input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Sweet fried
			</label></br>         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">LITTLE LEAGUE (Kids meal $ 3.99 each)</h4>
      </div>
      <div class="modal-body">
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Mini Ball (corn cheese balls)
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Mini Bat (cheese sticks)
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Swing Spread (ham spread arepas)
</label></br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SAUCES</h4>
      </div>
      <div class="modal-body">
      <input name="ctl00$ContentPlaceHolder1$CCcart$TXTCantidad" value="1" maxlength="2" id="TXTCantidad" class="form-control" pattern="[0-9]*" onchange="ItemTotal();" min="1" style="width:50px;float: left; position: relative; margin-right: 0;" type="number"> </br> </br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Strike (guasacaca)
        </br>
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Rolling (tartar)
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Swing (pink)
</label></br>
             <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Wild Pitch (hot & spice)
</label></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SOFT DRINKS ($ 1.00 each)</h4>
      </div>
      <div class="modal-body">
      <input name="ctl00$ContentPlaceHolder1$CCcart$TXTCantidad" value="1" maxlength="2" id="TXTCantidad" class="form-control" pattern="[0-9]*" onchange="ItemTotal();" min="1" style="width:50px;float: left; position: relative; margin-right: 0;" type="number"> </br> </br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Soda
        </br>
       
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Juice
</label></br>
        <label class="checkbox-inline">
  <input type="checkbox" id="checkboxEnLinea1" value="opcion_1">Water
</label></br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Pedir</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">LOGIN</h4>
      </div>
      <div class="modal-body">
      <div class="container">
       <div class="col-md-3">
                           	<div class="form-group">
                               	<input type="text" name="name" class="form-control" required="required" placeholder="User">
                           	</div>
                           <div class="form-group">
                               	<input type="text" name="name" class="form-control" required="required" placeholder="password">
                           	</div>
                                                       	<div class="form-group">
                               	<button type="button" class="btn btn-default" data-dismiss="modal">Sing in</button><a href="#"> Forgot Password?</a>
                           	</div>	</div>	</div>	</div>
      <div class="modal-footer">
        New To Bullpenarepas.com? <button type="button" class="btn btn-default" data-dismiss="modal">Register</button>
      </div>
    </div>
  </div>
</div>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>

</body>
</html>
