<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bullpen Arepas</title>
    <link href='css/fullcalendar.css' rel='stylesheet' />
	<link href='css/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet"> 
    <link href="css/lightbox.css" rel="stylesheet"> 
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/calendar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="img/bullpen.ico">
</head><!--/head-->

<body>
	<header id="header" class="navbar-inverse navbar-fixed-top" role="navigation">      
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
				</div>
                <div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
                    	<li>
                        	<a href="#home-slider" data-toggle="collapse" data-target=".navbar-collapse">Home</a>
                        </li>
                    	<li>
                        	<a href="#home-slider2" data-toggle="collapse" data-target=".navbar-collapse">On The Game</a>
                        </li>
                    	<li>
                        	<a href="#info" aria-expanded="false" data-toggle="collapse" data-target=".navbar-collapse">Info</a>
                        </li> 
                    	<li>
                        	<a href="#info2" data-toggle="collapse" data-target=".navbar-collapse">Calendar</a></li>
                        <li>
                      		<a href="#info2" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-shopping-cart circle" aria-hidden="true"></span> 0 Arepas - Checkout</a></li>
                	</ul>
                	<p class="navbar-text pull-right">
                    	<a class="pull-right socialia" href="https://instagram.com/bullpenarepas/" target="_blank"><img src="img/i2.png" hclass="img-responsive" alt=""></a>   
                        <a class="pull-right socialia" href="https://twitter.com/bullpenarepas" target="_blank"><img src="img/t2.png" class="img-responsive" alt=""></a>
                        <a class="pull-right socialia" href="https://www.facebook.com/BullpenArepas/" target="_blank"><img src="img/f2.png" hclass="img-responsive" alt=""></a>					
                    </p>
                </div>
            </div>
		</div>
    </header>
    <section>
		<div class="container">
        	<div class="row">
            	<div class="col-sm-12">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                    	<h4 class="iner">Review Your Order</h4>
                    	<table class = "table table-condensed">
   							<thead>
      							<tr>
                        	        <th>product</th>
                                    <th>Qtty</th>
                                  	<th>Price</th>
									</tr>
							</thead>
                            <tbody>
                            	<tr>
                            		<td>Arepa</td>
                                    <td> </td>
                                    <td> </td>
                                </tr>  
                                <tr>
                                    <td>Extra</td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                  <td>Subtotal :</td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td>Tax :</td>
                                  <td></td>
                                  <td></td>
                                </tr>
                                <tr>
                                  <td>Total :</td>
                                  <td></td>
                                  <td></td>
                                </tr>
                            </tbody> 
                        </table>
						<h4 class="iner">Pick it up or Delivery?</h4>
						<select class="form-control">
   						  	<option value="Seleccione">Select one</option>
						  	<option value="Pick it up">Pick it up</option>
							<option value="Delivery">Delivery</option>
						</select>
				  </div>
                    <div class="col-sm-4">    
						<h4 class="iner">Billing Information</h4> 
                    	<form id="main-contact-form" name="contact-form" method="post" action="">
                       		<div class="form-group">
								<input type="text" name="fullname" class="form-control" required="required" placeholder="Name on card">
                         	</div>
                         	<div class="form-group">
                    	 		<input type="" name="ccn" class="form-control" required="required" placeholder="Card Number">
                         	</div>
                         	<div class="tab">
								<label for="startDate">Expiry Date :</label>
    							<input name="startDate" id="startDate" expiricy Date class="date-picker" />
                            </div>
                            <div class=" form-group tab">
                               	<input type=""  size="5" name="cvvn"   class="form-control" required="required" placeholder="CVV">
                            </div>                       
                            <div class="form-group lef">
                               	<button type="button" class="btn btn-default">Process</button>
                            </div>
                        </form>
						<div>
                            <h6>Power by : Pay</h6></div>
                        </div>
					</div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function() {
    $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) { 
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
        }
    });
});

</script>
<style>
.ui-datepicker-calendar {
    display: none;
    }
</style>
	</body>
</html>