{% extends 'website/template.html' %}
{% block WindowTittle %}Menu{% endblock %}
{% block Content %}
{% load staticfiles %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
    {% for category in show_in %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2 class="agencia-bold">{{ category.name }}</h2>
                    <div class="clearfix"></div>
                    <p class="agencia-regular">{{ category.description }}</p>
                </div>
                                
                <div class="row">
                {% for product in category.product_set.all %}
                    {% if product.Active == True %}
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 widget widget_tally_box">
                        <div class="x_panel ui-ribbon-container fixed_height_390">
                            <div class="ui-ribbon-wrapper">
                                <div class="ui-ribbon">$ {{ product.price }}</div>
                            </div>
                            <div class="x_title">
                                <h2>{{ product.name }}</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div style="text-align: center; margin-bottom: 17px">
                                    <img src="/media/{{ product.image }}" class="img-responsive" alt="">
                                </div>
                                <h3 class="name_title">{{ product.name }}</h3>
                                <p>{{ product.description }}</p>
                                <div class="divider"></div>
                                <p>
                                    <a href="{% url 'website:product_detail' product.id %}">
                                        <button type="button" class="btn btn-warning">Add to Cart</button>
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% empty %}
                <p>There is no products available for this category</p>
                {% endfor %}                                        
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    {% endfor %}
{% endblock %}