{% extends 'website/template.html' %}
{% block WindowTittle %}Menu{% endblock %}
{% block Content %}
{% load staticfiles %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>How do you want your order?</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    <a href="{% url 'website:menu' %}">
                        <button type="button" class="btn btn-warning">Back to Menu</button>
                    </a>

                        <div class="clearfix"></div>
                        <br>
                        <div class="col-md-12">
                            <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback" id="select-div">
                                <label class="control-label" >How do you Want the Order?</label>
                                <select class="form-control flat" id="id_type_of_sale_select">
                                    <option value="D" {%if default_type_of_sale == 'D' %}selected{% endif %}>Delivery to my Location</option>
                                    <option value="P" {%if default_type_of_sale == 'P' %}selected{% endif %}>I will Pick it Up</option>
                                </select> 
                            </div>
                        </div>
                        <br>

                        <!-- Form for Delivery -->
                        <div id="group-for-delivery">
                        <form class="form-vertical form-label-left input_mask" method="post">
                        {% csrf_token %}
                        {{ form_delivery.type_of_sale }}
                        	<div <div class="col-md-12">
                                <div class="has-feedback col-md-9 col-sm-9 col-xs-12">
                                    <label class="control-label" >{{ form.address_delivery.label }}</label>
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-home "></i></span>
                                         {{ form_delivery.address }}
                                    </div>
                                    <p>
                                        <span class="fa fa-info-circle" style="top:4px;" aria-describedby="basic-addon1"> {{form_delivery.address.help_text}}</span>
                                    </p>
                                    {% if form_delivery.address.errors %}
                                    <br>
                                    <div class="alert alert-danger" role="alert">
                                    {% for msj in form_delivery.address.errors %}
                                        {{ msj }}
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                             <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <button type="submit" class="btn btn-warning">Let's Pay</button>
                             </div>
                        </form>
                        </div>
                        <!-- Form for Pick it Up -->
                        <div id="group-for-pick">
                        <form class="form-vertical form-label-left input_mask" method="post">
                        {% csrf_token %}
                        {{ form_pickitup.type_of_sale }}
                            <div class="col-md-12">
                                <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
                                    <label class="control-label">{{ form_pickitup.location.label }}</label>
                                    {{ form_pickitup.location }}
                                    {% if form_pickitup.location.errors %}
                                    <br>
                                    <div class="alert alert-danger" role="alert">
                                    {% for msj in form_pickitup.location.errors %}
                                        {{ msj }}
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                             </div>
                            <br>
                            <div class="col-md-12">
                                <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    <label class="control-label">{{ form_pickitup.time.label }}</label>
                                    {{ form_pickitup.time }}
                                    {% if form_pickitup.time.errors %}
                                    <br>
                                    <div class="alert alert-danger" role="alert">
                                    {% for msj in form_pickitup.time.errors %}
                                        {{ msj }}
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                <button type="submit" class="btn btn-warning">Let's Pay</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block FooterDeclarations %}
<script type="text/javascript">
    if ($("#id_type_of_sale_select").val()=='D'){
        $("#group-for-pick").hide();
        $("#group-for-delivery").show();
    }
    if ($("#id_type_of_sale_select").val()=='P'){
        $("#group-for-pick").show();
        $("#group-for-delivery").hide();
    }

    $("#id_type_of_sale_select").change(function(){
        if ($(this).val()=='D'){
            $("#group-for-pick").hide();
            $("#group-for-delivery").show();
        }
        if ($(this).val()=='P'){
            $("#group-for-pick").show();
            $("#group-for-delivery").hide();
        }
    })

</script>
{% endblock %}