{% extends 'website/template.html' %}
{% block WindowTittle %}Menu{% endblock %}
{% block Content %}
{% load staticfiles %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>How do you want your order?</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                    <a href="{% url 'website:menu' %}">
                        <button type="button" class="btn btn-warning">Back to Menu</button>
                    </a>

                        <div class="clearfix"></div>
                        <br>
                        <form class="form-vertical form-label-left input_mask" method="post">
                        {% csrf_token %}
                            <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback" id="select-div">
                                <label class="control-label col-md-6 col-sm-6 col-xs-12">{{ form.type_of_sale.label }}</label>
                                {{ form.type_of_sale }}
                                {% if form.type_of_sale.errors %}
                                <div class="alert">
                                {% for msj in form.type_of_sale.errors %}
                                    {{ msj }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <br>
                            <div id="group-for-delivery">
                            <div class="col-md-9 col-sm-9 col-xs-6 form-group has-feedback">
                                <label class="control-label col-md-6 col-sm-6 col-xs-12">{{ form.address.label }}</label>
                                {{ form.address }}
                                <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                                <p><span class="fa fa-info-circle"> {{form.address.help_text}}</span></p>
                                {% if form.address.errors %}
                                <div class="alert">
                                {% for msj in form.address.errors %}
                                    {{ msj }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <br>
                            </div>
                            <div id="group-for-pick">
                            <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-6 col-sm-6 col-xs-12">{{ form.location.label }}</label>
                                {{ form.location }}
                                {% if form.location.errors %}
                                <div class="alert">
                                {% for msj in form.location.errors %}
                                    {{ msj }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <br>
                            <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                <label class="control-label col-md-6 col-sm-6 col-xs-12">{{ form.time.label }}</label>
                                {{ form.time }}
                                {% if form.time.errors %}
                                <div class="alert">
                                {% for msj in form.time.errors %}
                                    {{ msj }}
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <br>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 form-group has-feedback">
                                <button type="submit" class="btn btn-warning">Let's Pay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block FooterDeclarations %}
<script type="text/javascript">
    if ($("#{{form.type_of_sale.id_for_label}}").val()=='D'){
        $("#group-for-pick").hide();
        $("#group-for-delivery").show();
    }
    if ($("#{{form.type_of_sale.id_for_label}}").val()=='P'){
        $("#group-for-pick").show();
        $("#group-for-delivery").hide();
    }

    $("#{{form.type_of_sale.id_for_label}}").change(function(){
        if ($(this).val()=='D'){
            $("#group-for-pick").hide();
            $("#group-for-delivery").show();
        }
        if ($(this).val()=='P'){
            $("#group-for-pick").show();
            $("#group-for-delivery").hide();
        }
    })

</script>
{% endblock %}