{% extends 'website/base.html' %}
{% block content %}
{% load staticfiles %}
	<div class="container">
        <div class="row">
        <div class="col-md-12"><img src="{% static 'website/img/banner.jpg' %}" class="img-responsive" alt=""></div>
        <h1 class="page-header col-md-12">Please Select a Product</h1>
            <div class="col-md-8">
      		   	<h2 class="page-header col-md-12">Baked or Fried Arepas</h2>
            	    <div class="col-md-8">
                    {% for arepa in arepas %}
                        <a href="{% url 'website:product_detail' arepa.id %}">
                		<div class="alert alert-danger fade in circle msmbi">
                            <h4>{{ arepa.name }}</h4>
                            <p>{{ arepa.description }} $ {{ arepa.price }}</p>
   	        	        </div>
                        </a>
                    {% endfor %}
                    </div>
			<div class="col-md-4">
                <h2 class="page-header col-md-12">Little League (Kids meal)</h2>
					<div class="col-md-12">
                        {% for kid in kids %}
						<a href="{% url 'website:product_detail' kid.id %}">
                        <div class="alert alert-danger fade in circle msmbi">
                        	<h4>{{ kid.name }}</h4>
                          	<p>{{ kid.description }} $ {{kid.price}}</p>
                        </div>
                        </a>
                        {% empty %}
                            <h4>Sorry no Kid's Meal for Today</h4>
                        {% endfor %}
					</div> 
                </div>
            </div>
        </div>
    </div>
       
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/modal.js"></script>
	<script src='js/moment.min.js'></script>
    <script src='js/jquery.min.js'></script>
</body>

</html>
{% endblock %}
