<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bullpen Arepas</title>
    {% load staticfiles %}
    <link href="{% static 'website/css/fullcalendar.css' %}" rel="stylesheet" />
    <link href="{% static 'website/css/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/animate.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'website/css/lightbox.css' %}" rel="stylesheet"> 
    <link href="{% static 'website/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/calendar.css' %}" rel="stylesheet">    
    <script type="text/javascript" src="{% static 'website/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/audio.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/modal.js' %}"></script>
    <script src="{% static 'website/js/moment.min.js' %}"></script>
    <script src="{% static 'website/js/jquery.min.js' %}"></script>
    <script src="{% static 'website/js/fullcalendar.min.js' %}"></script>
    <script src="{% static 'website/js/gcal.js' %}"></script> 
    <script type="text/javascript" src="{% static 'website/js/infocalendar.js' %}"></script>    
    <script type="text/javascript">
    
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script> 
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'website/img/bullpen.ico' %}">
</head><!--/head-->
<body>
    <section id="error-page">
        <div class="error-page-inner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <div class="bg-404">
                                <div class="error-image">                                
                                    <img class="img-responsive" src="{% static 'website/img/closed.png' %}" alt="We're Closed">  
                                </div>
                            </div>
                            <h2>Thank you...</h2>
                            <h4>The Invoice have been sent to your Email Address</h4>
                             <a href="{% url 'website:menu' %}" class="btn btn-error">RETURN TO MENU PAGE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	</div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>