#u822
{
	background-color: #000000;
}

#u1246
{
	background-color: transparent;
}

#u1385-4
{
	background-color: transparent;
	font-size: 26px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 31px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u1386-4
{
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u1387-4
{
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u1388-4
{
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u1389-4
{
	background-color: transparent;
	font-size: 24px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 29px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 900;
}

#u1385-4:hover p,#u1386-4:hover p,#u1387-4:hover p,#u1388-4:hover p,#u1389-4:hover p
{
	color: #FCEE21;
	visibility: inherit;
}

#u1390,#u1391,#u1392,#u1393
{
	background-color: #FFFFFF;
}

#u423
{
	background-color: #754C24;
}

#u456-4
{
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
}

#u2318
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u1256-4,#u2361_img,#u2369_img,#u2376_img
{
	display: block;
	vertical-align: top;
}

