{% extends 'LocationManager/index.html' %}
{% block WindowTittle %}| Locations Batches{% endblock %}
{% block Content %}
<!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile">
                            <div class="x_title">
                                <h2>Open Batches <small>Select to Change Details</small></h2>
                                <div class="clearfix"></div>
                                <a href="{% url 'LocationManager:batches-create' %}">
                                    <i class="fa fa-plus"></i> New Batch
                                </a>
                            </div>
                            <div class="x_content">
                                <table class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th>Date</th>
                                            <th>Batch Code</th>
                                            <th>Location</th>
                                            <th>Mobile Address</th>
                                            <th>Zip Code <small>(For Moble Address)</small></th>
                                            <th>Max Miles <small>(For Delivery)</small></th>
                                            <th>Open For Delivery</th>
                                            <th>Common Tasks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for batch in PaymentBatch_Open %}
                                        <tr>
                                            <td>{{ batch.date|date:"d-m-Y" }}</td>
                                            <td>
                                                <a href="{% url 'LocationManager:batches-update' batch.id %}">{{ batch.batch_code }}</a>
                                            </td>
                                            <td>{{ batch.location }}</td>
                                            <td>{{ batch.address_for_truck }}</td>
                                            <td>{{ batch.zip_code_for_truck }}</td>
                                            <td><span class="badge badge-success">{{ batch.max_miles }}</span></td>
                                            <td>
                                                {% if batch.open_for_delivery == True %}
                                                <span class="label label-success">Open</span>
                                                {% else %}
                                                <span class="label label-warning">Closed</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'LocationManager:close-batch' batch.id %}">
                                                    <span class="label label-danger">Close</span>
                                                </a>
                                                {% if batch.open_for_delivery == True %}
                                                <a href="{% url 'LocationManager:close-batch-delivery' batch.id %}">
                                                    <span class="label label-danger">Close Delivery</span>
                                                </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="8">Sorry, No Batches</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Closed Batches <small>Select to View Orders</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table id="PaymentBatch_Closed" class="table table-striped responsive-utilities jambo_table">
                                    <thead>
                                        <tr class="headings">
                                            <th>Open Date and Time</th>
                                            <th>Close Date and Time</th>
                                            <th>Batch Code</th>
                                            <th>Batch Description</th>
                                            <th>Common Tasks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for batch in PaymentBatch_Closed %}
                                        <tr>
                                            <td>{{ batch.date|date:"d-m-Y @ h:m a" }}</td>
                                            <td>{{ batch.close_date|date:"d-m-Y @ h:m a" }}</td>
                                            <td>{{ batch.batch_code }}</td>
                                            <td>{{ batch }}</td>
                                            <td><a href="{% url 'LocationManager:batches-report' batch.id %}">View Report</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
{% block FooterDeclarations %}
{% load static %}
<script src="{% static 'LocationManager/js/datatables/js/jquery.dataTables.js' %}"></script>
<script>
    var asInitVals = new Array();
    $(document).ready(function () {
        var oTable = $('#PaymentBatch_Closed').dataTable({
            "oLanguage": {"sSearch": "Search all columns:"},
            'iDisplayLength': 12,
            "sPaginationType": "full_numbers",
            "dom": 'T<"clear">lfrtip'
        });
        $("tfoot input").keyup(function () {
            /* Filter on the column based on the index of this element's parent <th> */
            oTable.fnFilter(this.value, $("tfoot th").index($(this).parent()));
        });
        $("tfoot input").each(function (i) {
            asInitVals[i] = this.value;
        });
        $("tfoot input").focus(function () {
            if (this.className == "search_init") {
                this.className = "";
                this.value = "";
            }
        });
        $("tfoot input").blur(function (i) {
            if (this.value == "") {
                this.className = "search_init";
                this.value = asInitVals[$("tfoot input").index(this)];
            }
        });
    });
        </script>
{% endblock %}